<p>
  {{stringInterpolation}}
  <br/>
  {{numberInterpolation}}
</p>
<hr>
<h1>Property binding</h1>
<input type="text" value="{{stringInterpolation}}" name="">
<p [ngClass]="{redBorder: onTest()}">is this styled ?</p>
<p [ngStyle]="{color: 'green'}">is this styled ?</p>
<h1>Custom Property Binding</h1>
<app-property-binding [result]="10"></app-property-binding>
<hr>
<h1>Custom Event Binding</h1>
<app-event-binding (clicked)="onClicked($event)"></app-event-binding>
<hr>
<h1>Two-way Binding</h1>
<app-two-way-binding></app-two-way-binding>