<h1>
  {{title}}
</h1>
<app-databinding></app-databinding>
<hr>
<h1>Lifecycle Hooks</h1>
<app-lifecycle *ngIf="!delete" [bindable]="boundValue">
	<p #boundContent>{{test}}</p>
</app-lifecycle>
<button (click)="delete = true">Click to Delete</button>
<button (click)="test = 'Changed value'">Click to Change Content</button>
<button (click)="boundValue = 2000">Click to Change Binding</button>
